{% extends "base.html" %}
{% load form_tags %}
{% block title %}DBS Login{% endblock %}

{% block content %}
<div class="glass-card">
  <h3 class="text-center mb-4">Login</h3>
  <form method="POST">
    {% csrf_token %}

    <div class="mb-3">
      <label for="{{ form.username.id_for_label }}">Username</label>
      {{ form.username|add_class:"form-control" }}
    </div>

    <div class="mb-3">
      <label for="{{ form.password.id_for_label }}">Password</label>
      {{ form.password|add_class:"form-control" }}
    </div>

    <button type="submit" class="btn btn-light w-100">Login</button>
  </form>

  <p class="text-center mt-3">
    Don’t have an account?
    <a href="{% url 'register' %}">Register here</a>
  </p>
</div>
{% endblock %}
